{% extends 'main/layout.html' %}
{% block content %}

<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="container1">
      <div class="login form">
        <header>Login</header>

        {{ form.non_field_errors }}
        {{ form.username.errors }}
        <input type="text" name="username" placeholder="Enter your username">

        {{ form.password.errors }}
        <input type="password" name="password" placeholder="Enter your password">

        <a href="#">Forgot password?</a>

        <input type="submit" class="button" value="Login">
        <div class="signup">
          <span>Don't have an account?
            <a href="{% url 'signup' %}">Signup</a>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
  {% if form.errors %}
      <p style="color:red;">Невірне ім’я користувача або пароль</p>
  {% endif %}

{% endblock %}