
{% extends 'main/layout.html' %}
{% block content %}
 <style>
     body{
         width: 100%;
         height:20vh;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         background-image: url("https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?cs=srgb&dl=pexels-andreimike-1271619.jpg&fm=jpg");
        }

 </style>
<div class="places">
  {% for place in places %}
    <div class="place-card">
        <a href="{% url 'place_detail' place.slug %}" ><img src="{{ place.image.url }}" alt="{{ place.name }}"  class="place-image" ></a>
        <h3 class="fontmain">{{ place.name }}</h3>
        <p class="fontaddress">{{ place.address }}</p>
        <p class="fontdesc">{{ place.description}}</p>
    </div>

  {% endfor %}
</div>

<div class="weather-forecast">
    <p>When to visit</p>
<ul>
    <div class="weather-grid">
      {% for day in forecasts %}
        <li class="weather-data">
          Дата: {{ day.time|slice:":10" }}
          Degrees: {{ day.values.temperatureMax }}°C,
          {{ day.values.temperatureMin }}°C,
          Wind Speed : {{ day.values.windSpeedAvg }}
        </li>
      {% empty %}
        <li>Немає даних про погоду</li>
      {% endfor %}
    </div>
</ul>
    </div>
{% endblock %}