<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<body>
    <header>
        <ul>
          <a href=""><li>Explore</li></a>
          <a href=""><li>Saved</li></a>
          <a href=""><li>About</li></a>
          <a href=""><li>DONATE</li></a>
          <a href="" class="loginbutton">Log in</a>
          <a href="" class="signupbutton">Sign up</a>
        </ul>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
</body>

</html>