.loginbutton{
    color: white;
    padding: 3px 7px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    top: 17px;
    right: 160px;
    position: absolute;

}

.signupbutton {
    position: absolute;
    color: white;
    padding: 3px 7px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    top: 17px;
    right: 50px;

}

.header-link{
    position: absolute;
    top: 17px;
    color: white;
    text-decoration: none;
}

.site-header {
    display: inline-block;
    font-family: "Source Code Pro", monospace;
}

.nav {
  list-style: none;
  display: flex;
  gap: 120px;
  padding: 1px;
    position: absolute;
    left:55%;
    margin-top: 5px;
    font-weight: bold;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* З-під Explore */
    left: -60px;
  background-color: #333;
  padding: 10px 0;
  list-style: none;
  min-width: 150px;
  border-radius: 6px;
  z-index: 100;
}

/* Кожен пункт у випадаючому меню */
.dropdown-menu li a {
  padding: 8px 15px;
  color: white;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.place-card {
  max-width: 300px;
  margin-bottom: 300px;
  padding: 15px;
  text-align: center;
}

.fontmain {
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}

.fontaddress {
    font-size: 12px;
}

.fontdesc {
    font-size: 12px;
}


.place-image {
    max-width: 100%;
  width: 100%;
  height: auto;
  display: block;

}

.places {
    position: absolute;
    bottom: -67%;
    left: 6%;
    gap: 50px;
    display: flex;

}

.trails {
    font-size: 20px;
    padding-left: 10%;
    padding-right: 30%;
    padding-top: 20%;
}
.name, .difficulty, .startpoint{
    padding-left: 10%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-forecast {
    padding-top: 77%;
    padding-left: 8%;
    font-size: 24px;
    font-weight: bold;
}

.weather-data {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 10px;
}

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body1{
  min-height: 100vh;
  width: 100%;
  background: #009579;
}
.container1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}