.loginbutton{
    display: inline-block;
    padding: 3px 7px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 23px;
    right: 180px;

}

.loginbutton:hover{
    text-decoration: none ;
    color: lightgrey;
}

.signupbutton {
     display: inline-block;
    padding: 3px 7px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 23px;
    right: 60px;

}

.signupbutton:hover{
    text-decoration: none ;
    color: lightgrey;
}
